*{
	margin: 0px;
	padding: 0px;
}
body{
			background-image:url(7.jpg);
			background-size:cover;
			background-attachment: fixed;
			color:yellow;
}
.tif17b{
	width: 800px;
	margin: auto;
	padding: 5px 10px 5px 10px;
}
.header{
	background-image:url(uciha.GIF);
	font-size: 40px;
	width: 800px;
	min-height: 100px;
	margin-bottom: 5px;
}
.navigation{
	background-image:url(cat.jpg);	
	width: 800px;
	height: 45px;
	font-size: 40px;
	
}
.sidebar{
	line-height: 300px;
	font-size: 40px;
	margin-top: 5px;
	overflow: hidden;	
	width: 800px;
	min-height: 300px;	
}
.main{	
	background-image:url(2.jpg);
	float: left;
	width: 245px;
	min-height: 300px;	
	margin-right: 5px;
}
.content{	
	background-image:url(one-piece.jpg);
	font-size: 40px;
	float: right;
	width: 550px;
	min-height: 300px;
}
.footer{	
	background-image:url(sharingan.GIF);
	line-height: 100px;
	font-size: 40px;
	width: 800px;
	height: 100px;
	margin-top: 5px;
}